@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700;1,800;1,900&display=swap');


/*//desktop*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: #ffffff;
    font-family: 'Montserrat';
    font-style: normal;
}

/* Header__SECTION */

header,
.header-container {
    width: 100%;
    height: 155px;
    background: #fff;

    /* position: sticky; */
    top: 0;
    display: flex;
    justify-content: space-between;
    /* z-index: 1000; */
}

.logo {
    margin-left: 90px;
    display: flex;
    align-items: center;
    object-fit: contain;
}

.toggle-button {
    display: none;
}

.nav-container {

    flex: .7;
    display: flex;
    align-items: center;



}

.nav-container > ul {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}

.nav-container > ul > li > a {
    text-decoration: none;

    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2;

    color: #252B42;
}

.nav-container > ul > li > a.active,
.nav-container > ul > li > a:hover {
    color: #fa4a0c;
}

/*// HERO SECTION*/

.section1-container {
    width: 100%;
    

    background-image: url(./images/section1-bg.png);
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1-heading1 {
    margin-top: 73px;
    background: none;
}

.section1-heading1 > h5 {

    background: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #f6f6f6;
    text-align: center;
    letter-spacing: 0.1px;
}

.section1-heading2 {

    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 937px;
    margin-left: 4.5rem;
    margin-right: 4.5rem;
    background: none;
}

.section1-heading2 > h1 {

    background: none;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    color: #ffffff;
    text-align: center;
}

.section1-heading3 {
    margin-top: 27px;
    padding: 5px 15px;
    background: none;
}

.section1-heading3 > h4 {
    background-color: none;
    color: #f7f7f7;

    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;
    text-align: center;
}

.section1-buttons{
    margin-top: 54px;

    display: flex;
    justify-content: center;
    align-items: center;


    max-height: 68px;

    background: none;

    margin-bottom: 146px;
}

.btn1 {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 236px;
    height: 100%;
    width: 100%;

    padding: 16px 0;

    background-color: #fa4a0c;
    box-shadow: 0px 40px 40px rgba(183, 50, 39, 0.2);
    border: none;
    border-radius: 30px;



    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #fff;
}

.btn2 {
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 236px;
    height: 100%;
    width: 100%;

    margin-left: 34px;
    padding: 16px 0;

    background: none;

    border-radius: 30px;
    border: 1px solid #ffffff;



    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ffffff;
    z-index: 10;
    
    

}


/*    ABOUT SECTION*/
.image-container {
    background: none;
    margin-top: -123px;
}

.image-div {
    display: flex;
    justify-content: center;
}

.img1 {
    width: 549px;
    height: 676px;
    background: none;
    object-fit: cover;
    margin-left:73px;
    filter: drop-shadow(50px 30px 150px rdba(46, 4, 4, 0.21));
}

.img2 {
    width: 285px;
    height: 571px;
    object-fit: cover;

    margin-top: 109px;
    /* margin-right:334px; */
    margin-left: -277px; 



}

.image-container > h1 {


    margin-top: 201px;


    font-weight: 600;
    font-size: 44px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #000000;
    opacity: 0.8;
}

hr{
    position: absolute;
width: 884px;
height: 0px;
left: 198px;
top: 1628.91px;

border: 1px solid #E4E4E4;
}
/*    //component */

.section2-container {

    margin-top: 59px;
    width: 100%;

}

.section2-content {
    display: flex;
    flex-direction: column;
    margin-top: 145px;
    width: 50%;
    
    float: right;

}


.section2-content > h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;

    color: #fa4a0c;
}

.section2-heading1 {
    margin-top: 17px;
    max-width: 559px;
}

.section2-heading1 > h2 {

    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;

    color: #252B42;
}


.section2-heading2 {

    max-width: 467px;

    margin-top: 27px;
}

.section2-heading2 > h4 {

    font-weight: 500px;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;

    color: #737373;
}


.section2-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;



}

.section2-image > img {
    width: 302px;
    height: 525px;
    margin-top: 50px;

    overflow: hidden;
    object-fit: contain;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}

/*//expolore section*/
.section3-container {
 display: flex;
    width: 100%;
    margin-top: 30px;

}
.section3-content {
    display: flex;
    flex-direction: column;
    margin-top: 145px;
    width: 50%;
    padding-left: 17%;
}

.section3-content > h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;

    color: #fa4a0c;
}

.section3-heading1 {
    margin-top: 17px;
    max-width: 559px;
}

.section3-heading1 > h2 {

    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;

    color: #252B42;
}


.section3-heading2 {

    max-width: 467px;

    margin-top: 27px;
}

.section3-heading2 > h4 {

    font-weight: 500px;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;

    color: #737373;
}

.section3-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;



}

.section3-image > img {
    width: 302px;
    height: 525px;
    margin-top: 50px;

    overflow: hidden;
    object-fit: contain;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}
/*Section4*/
.section4-container {
    margin-top: 30px;
    width: 100%;

}

.section4-content {
    display: flex;
    flex-direction: column;
    margin-top: 140px;
    width: 50%;

    float: right;

}


.section4-content > h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.1px;

    color: #fa4a0c;
}

.section4-heading1 {
    margin-top: 17px;
    max-width: 559px;
}

.section4-heading1 > h2 {

    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;

    color: #252B42;
}


.section4-heading2 {

    max-width: 467px;

    margin-top: 27px;
}

.section4-heading2 > h4 {

    font-weight: 500px;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;

    color: #737373;
}


.section4-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;



}

.section4-image > img {
    width: 302px;
    height: 525px;
    margin-top: 50px;

    overflow: hidden;
    object-fit: contain;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
}
/*//FOOTER SECTION*/

.footer-container {
    margin-top: 157px;
    width: 100%;

}

.footer-top {
    padding: 145.9px 0 131.1px;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url(./images/bg2.png);
    background-size: cover;
    text-align: center;
}

.footer-heading > h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;

    background: none;
    color: #ffffff;
}


.footer-subheading {
    margin-top: 20px;

    background: none;


}

.footer-subheading > h4 {

    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    letter-spacing: 0.2px;

    text-align: center;

    background: none;
    color: #ffffff;
}

.footer-subheading1 {
    display: none;
}

.footer-button {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.footer-btn1 {
    padding: 18px 31px;
    background: #fa4a0c;
    border-radius: 10px;
    border: none;
    color: #ffffff;

    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.footer-btn2 {
    margin-left: 25px;
    padding: 18px 31px;
    color: #ffffff;
    border-radius: 10px;
    background: #252B42;
    border: none;

    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

/*//footerbuttom*/

.footer-bottom-container {
    height: 133px;
    margin: 36.9px 115px 53.1px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #ffffff;

}

.footer-bottom-logo {
    margin-left: 71px;
    width: 246px;
    height: 122px;
}

.footer-bottom-logo > img {
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.footer-social-logos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-social-logos > a {
    margin-left: 32px;

}

.footer-social-logos > a:nth-child(1) {
    margin-left: 0;
}

.footer-social-logos > a > img {
    max-width: 33.31px;
    object-fit: cover;
}

.footer-bottom-container > p {
    margin-right: 45px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.1px;

    color: #5c5c5c;
}













/*MOBILE VERSION */
@media(max-width: 769px) {
    .header-container {

        height: 112px;
        display: flex;
        justify-content: space-between;

    }

    .logo {
        margin-left: 25px;
        margin-top: 17px;
        object-fit: contain;
    }

    .nav-container {
        display: none;
    }

    .toggle-button {

        display: flex;

        height: 16px;
        width: 20px;
        object-fit: cover;

        margin-right: 23px;
        margin-top: 48px;

        border-radius: 20px;
        background: none;
        opacity: 0.6;
        cursor: pointer;

    }


    /*    HERO SECTION*/
    .section1-container {
        
        background: #fafafa;

    }

    .section1-heading1 {
        margin-top: 50px;

    }

    .section1-heading1 > h5 {
        background: #fafafa;


        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: #737373;
        text-align: center;
    }

    .section1-heading2 {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 17px;

    }

    .section1-heading2 > h1 {
        background-color: #fafafa;
        padding: 10px;


        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.2px;
        color: #252B42;
        text-align: center;
    }


    .section1-heading3 {

        background-color: #fafafa;

        margin-left: 36px;
        margin-right: 36px;
    }

    .section1-heading3 > h4 {
        background-color: #fafafa;
        color: #737373;
    }



    .section1-button {
        margin-top: 50px;

        display: flex;
        flex-direction: column;
        align-items: center;

        min-width: 236px;
        min-height: 68px;

        background-color: #fafafa;

        margin-bottom: 253px;
    }

    .btn1 {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;

        padding: 16px 0px;


        box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
    }

    .btn2 {
        display: flex;
        justify-content: center;
        align-content: center;
        width: 100%;

        margin-left: 0;
        margin-top: 17px;
        padding: 16px 0px;

        background-color: #ffffff;
        box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.07);
        border-radius: 30px;
        border: 1px solid #fa4a0c;
        color: #fa4a0c;
    }

    /*    ABOUT SECTION*/
    .image-container {
        background: none;
        margin-top: -231px;
        
    }

    .image-div {
        display: flex;
        justify-content: center;
    }

    .img1 {
        width: 230px;
        height: 451px;
        background: none;

        margin-left: -16px;
        filter: drop-shadow(50px 30px 150px rdba(46, 4, 4, 0.21));
    }

    .img2 {
        width: 219;
        height: 408px;
        object-fit: contain;
        background: none;
        margin-top: 84px;
        margin-left: -27px;
    }

    .img-container > h1 {
        margin-top: 116px;


        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.1px;
        color: #111;
        opacity: 1;
    }


    /*    //component */

    .section1-container {
        margin-top: 114px;

        background: none;

    }

     .section1-heading1{
        width: 100%;
        margin-top: 0;
        display: flex;
        align-items: center;
        float: none;
        text-align: center;
    } 

    .section1-heading2 {
        margin-top: 40px;
        margin-left: 16%;
        margin-right: 16%;
        max-width: none;
    }


    .section1-heading3 {
        margin-top: 50px;
        max-width: 257px;
    }

    .section1-image {
        width: 100%;
    }

    .section1-image > img {
        margin-top: 17px;
        width: 650px;
        height: 581px;
        height: 581px;
    }

    /*    EXPORLE SECTION*/

    .section2-content {
        float: none;
        padding-left: 0;
        text-align:center;
    }

    
    /*    //FOOTER_SECTION*/

    .footer-container {
        margin-top: 26px;

    }

    .footer-top {
        padding: 120px 24px 110px;
        background: #252B42;

    }

    .footer-heading > h2 {
        padding: 10px 28px;
    }


    .footer-subheading {
        margin-top: 20px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer-subheading > h4 {
        max-width: 245px;
        color: #bdbdbd;
    }
    
    .footer-subheading1{
        display: none;
    }
    
    .footer-subheading2 {
        display: block;
    }

    .footer-button {
        margin-top: 60px;
    }
    
    .footer-btn1 {
        border: 1px solid #ffffff;
    }


    .footer-btn2 {
        height: 172px;
        
        margin: 0;
        
        flex-direction: column;
        justify-content: center;

    }
    
    .footer-bottom-logo {
        display: none;
    }

    .footer-bottom-container > p {
        margin-top: 12.5px;
        margin-right: 0;

        
    }


}
